.star{
    color: yellow;
}

.media-object{
    height: 30px;
    width: 30px;
}

body , .jumbotron {
    background: linear-gradient(to right, #337ab7 0%, #337ab7 50%,#f6f6f6 50%,#f6f6f6 100%);
}

.panel-body{
    max-height: 636px;
    overflow-y: scroll; 
    overflow-x:hidden;
}

.btn-info:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari */
    transform: scale(1.2);
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}

.btn-info:not( :hover ){
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}